/* navbar*/
.wrapper {
  background: #171c24;
  position: fixed;
  width: 100%;
  z-index: 100;
}

/* navbar*/
.wrapper nav {
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

/* navbar*/
nav .content {
  display: flex;
  align-items: center;
}

/* navbar*/
nav .content .links {
  margin-left: 80px;
  display: flex;
}

/* navbar*/
.content .logo {
  width: 70px;
}

/* navbar*/
.content .links li {
  list-style: none;
  line-height: 70px;
}

/* navbar*/
.content .links li a,
.content .links li label {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-decoration: none;
}

/* navbar*/
.content .links li label {
  display: none;
}

/* navbar*/
.content .links li a:hover,
.content .links li label:hover {
  background: #323c4e;
}

/* navbar*/
.wrapper .search-icon,
.wrapper .menu-icon {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}

/* navbar*/
.wrapper .menu-icon {
  display: none;
}

/* navbar*/
.wrapper #show-search:checked ~ .search-icon i::before {
  content: "\f00d";
}

/* navbar*/
.wrapper .search-box {
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

/* navbar*/
.wrapper #show-search:checked ~ .search-box {
  opacity: 1;
  pointer-events: auto;
}

/* navbar*/
.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #171c24;
  padding: 0 100px 0 15px;
}

/* navbar*/
.search-box input::placeholder {
  color: #000;
}

/* navbar*/
.search-box .go-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

/* navbar*/
.wrapper input[type=checkbox] {
  display: none;
}

/* navbar*/
.content .links ul {
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

/* navbar*/
.content .links li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

/* navbar*/
.content .links ul li a {
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px !important;
}

/* navbar*/
.content .links ul ul {
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}

/* navbar*/
.content .links ul li {
  position: relative;
}

/* navbar*/
.content .links ul li:hover ul {
  top: 0;
}

/* navbar*/
@media screen and (max-width: 1250px) {
  .wrapper nav {
    max-width: 100%;
    padding: 0 20px;
  }

  nav .content .links {
    margin-left: 30px;
  }

  .content .links li a {
    padding: 8px 13px;
  }

  .wrapper .search-box {
    max-width: calc(100% - 100px);
  }

  .wrapper .search-box input {
    padding: 0 100px 0 15px;
  }
}
/* navbar*/
@media screen and (max-width: 900px) {
  .wrapper .menu-icon {
    display: inline;
  }

  nav .content .links {
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }

  nav #show-menu:checked ~ .content .links {
    left: 0%;
  }

  .content .links li {
    margin: 15px 20px;
  }

  .content .links li a,
.content .links li label {
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }

  .content .links li a.desktop-link {
    display: none;
  }

  .content .links ul,
.content .links ul ul {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }

  .content .links #show-features:checked ~ ul,
.content .links #show-services:checked ~ ul,
.content .links #show-items:checked ~ ul {
    max-height: 100vh;
  }

  .content .links ul li {
    margin: 7px 20px;
  }

  .content .links ul li a {
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px !important;
  }
}
/* navbar*/
@media screen and (max-width: 400px) {
  .wrapper nav {
    padding: 0 10px;
  }

  .content .logo a {
    font-size: 27px;
  }

  .wrapper .search-box {
    max-width: calc(100% - 70px);
  }

  .wrapper .search-box .go-icon {
    width: 30px;
    right: 0;
  }

  .wrapper .search-box input {
    padding-right: 30px;
  }
}
/* navbar*/
.dummy-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: -1;
  padding: 0 20px;
  text-align: center;
  transform: translate(-50%, -50%);
}

/* navbar*/
.dummy-text h2 {
  font-size: 45px;
  margin: 5px 0;
}

/* finish navbar*/
/*prehome*/
.container-prehome {
  background-color: #171c24;
  background-size: cover;
  height: 40vh;
  width: 100%;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*prehome*/
.container-prehome .container-textoprehome {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}

/*prehome*/
.texto-prehome {
  font-size: 70px;
  color: #fff;
}

/*prehome*/
@media screen and (max-width: 990px) {
  .texto-prehome {
    font-size: 40px;
    color: #fff;
  }
}
/*prehome*/
.texto-subprehome {
  font-size: 18px;
  color: #f1faee;
}

/* finish prehome*/
/* home */
.container-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 40px 0;
}

/* home */
.container-texto {
  padding: 40px;
}

/* home */
.primer-texto {
  padding: 20px;
  font-size: 45px;
  color: #b5179e;
}

/* home */
.segundo-texto {
  font-size: 25px;
  padding: 10px;
}

/* home */
.imagen {
  width: 100%;
  padding: 30px;
  margin-top: 20px;
}

/* home */
@media screen and (max-width: 990px) {
  .container-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 5px;
  }

  .primer-texto {
    text-align: center;
  }

  .segundo-texto {
    text-align: center;
  }

  .imagen {
    width: 100%;
    padding: 5px;
  }
}
/* home */
.titulo-home {
  font-size: 50px;
  color: #560bad;
  padding: 20px;
}

/* home */
.texto-home {
  font-size: 20px;
  color: #000;
  padding: 10px;
}

/* home */
.background-home {
  background-color: #023e8a;
  width: 100%;
  padding: 30px;
}

/* home */
.titulo-servicio {
  text-align: center;
  font-size: 50px;
  color: #b5179e;
  padding: 40px;
}

/* home */
.container-question {
  width: 100%;
  overflow-x: hidden;
}

/* home */
.container-faq {
  box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

/* home */
.container-faq .title-faq {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #b5179e;
}

/* home */
.container-faq .item-faq {
  box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  border-radius: 10px;
}

/* home */
.container-faq .item-faq .question {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(43, 51, 122, 0.2);
  padding: 20px 20px 20px 80px;
  transition: 0.4s;
}

/* home */
.container-faq .item-faq .question .more {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.4s;
}

/* home */
.container-faq .item-faq .question .more:hover {
  box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.4);
}

/* home */
.container-faq .item-faq .question span {
  position: absolute;
  left: 10px;
  font-size: 3rem;
  top: 10px;
  opacity: 0.1;
}

/* home */
.container-faq .item-faq .answer {
  position: relative;
  padding: 0 20px 0 80px;
  overflow: hidden;
  height: 0;
  transition: 0.4s;
}

/* home */
.container-faq .item-faq .answer p {
  font-size: 1.3rem;
}

/* home */
.container-faq .item-faq .answer span {
  position: absolute;
  left: 10px;
  font-size: 3rem;
  top: -10px;
  opacity: 0.2;
}

/* finish home */
/*services */
.primer-textoservices {
  font-size: 50px;
  color: #892b64;
}

/*services */
.segundo-textoservices {
  font-size: 25px;
  padding: 10px;
}

/*services */
.imagen-services {
  width: 100%;
}

/*services */
@media screen and (max-width: 990px) {
  .container-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .primer-textoservices {
    text-align: center;
  }

  .segundo-textoservices {
    text-align: center;
  }

  .imagen-services {
    width: 100%;
  }
}
/*services */
.container-rescue {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 120px;
}

/*services */
.signal-services {
  font-size: 50px;
  color: #723c70;
  text-align: center;
}

/*services */
.product-feature-section {
  padding: 1rem;
}

/*services */
.product-feature-section-outer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/*services */
@media print, screen and (min-width: 40em) {
  .product-feature-section-outer {
    max-width: 75%;
  }
}
/*services */
.product-feature-section-headline {
  margin-bottom: 2rem;
  text-align: center;
}

/*services */
.product-feature-section-inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*services */
.product-feature-section-feature {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 1rem;
  -webkit-flex: 1 0 50%;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/*services */
.product-feature-section-feature.top-left {
  border-right: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}

/*services */
.product-feature-section-feature.top-right {
  border-bottom: 1px solid #cacaca;
}

/*services */
.product-feature-section-feature.bottom-left {
  border-right: 1px solid #cacaca;
}

/*services */
.product-feature-section-feature .feature-title {
  margin-bottom: 0;
  line-height: 16px;
  font-size: 0.875rem;
}

/*services */
.product-feature-section-feature .feature-desc {
  margin-bottom: 0;
}

/*services */
.product-feature-section-feature .fa {
  margin-right: 1.25rem;
  font-size: 2rem;
}

/*services */
@media print, screen and (min-width: 40em) {
  .product-feature-section-feature {
    padding: 2rem;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
/*services */
.container-crm {
  text-align: center;
  padding: 20px 20px;
  margin-top: -70px;
}

/*services */
.titulo-crm {
  padding: 30px;
  color: #5a189a;
  font-size: 40px;
}

/*services */
.background-crm {
  background-color: #023e8a;
}

/*services */
.titulo-principal {
  color: #fff;
  margin: 10px 10px;
  padding: 10px 10px;
  text-align: center;
}

/*services */
.fotos-producto {
  width: 35%;
}

/*services */
.contenedor-producto {
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 40px;
  align-items: center;
}

/*services */
.contenedor-texto h2 {
  color: #fff;
  padding: 10px;
}

/*services */
.contenedor-texto p {
  color: #fff;
}

/*services */
@media screen and (max-width: 1000px) {
  .contenedor-producto {
    flex-direction: column-reverse;
    align-content: center;
    justify-content: center;
  }

  .fotos-producto {
    height: 70%;
    width: 70%;
  }

  .contenedor-texto {
    text-align: center;
  }
}
/*services */
@media screen and (max-width: 600px) {
  .contenedor-producto {
    flex-direction: column-reverse;
    align-content: center;
    justify-content: center;
  }

  .fotos-producto {
    height: 70%;
    width: 70%;
  }

  .contenedor-texto {
    text-align: center;
  }
}
.crmcontainer {
  margin-top: 100px;
}

/*solutions*/
.container-dinamics {
  text-align: center;
  margin: 20px 20px;
}

/*solutions*/
.titulo-dinamics {
  font-size: 35px;
  color: #0077b6;
}

/*solutions*/
.marketing-site-content-section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*solutions*/
.marketing-site-content-section .button.round {
  border-radius: 5000px;
  text-transform: uppercase;
  margin-bottom: 0;
}

/*solutions*/
.marketing-site-content-section .marketing-site-content-section-img {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
}

/*solutions*/
.marketing-site-content-section .marketing-site-content-section-img img {
  width: 100%;
}

/*solutions*/
@media screen and (min-width: 40em) {
  .marketing-site-content-section .marketing-site-content-section-img {
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
  }
}
/*solutions*/
.marketing-site-content-section .marketing-site-content-section-block {
  padding: 1rem;
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  background: #e6e6e6;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

/*solutions*/
@media screen and (min-width: 40em) {
  .marketing-site-content-section .marketing-site-content-section-block {
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    padding: 2rem;
  }
}
/*solutions*/
.marketing-site-content-section-block-header {
  font-size: 24px;
}

/*solutions*/
.marketing-site-content-section-block-subheader {
  font-size: 13px;
}

/*solutions*/
.c-img {
  width: 100%;
  max-width: 100%;
  margin: 100px auto;
  position: relative;
  display: flex;
  align-items: center;
}
.c-img img {
  width: 100%;
}
.c-img .txt {
  align-items: center;
  position: absolute;
}
.c-img .txt h2,
.c-img .txt p {
  color: #fff;
  padding: 10px 20px;
}

.txt10 {
  font-size: 30px;
}

.txt20 {
  font-size: 15px;
}

/*solutions*/
.title-timeline {
  text-align: center;
}
.title-timeline h2 {
  font-size: 40px;
  color: #b5179e;
}

/*solutions*/
.timeline {
  max-width: 1300px;
  margin: 0px auto;
  padding: 0 20px;
  position: relative;
  background-color: #023e8a;
}

/*solutions*/
.timeline .center-line {
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}

/*solutions*/
.timeline .row {
  display: flex;
}

/*solutions*/
.timeline .row-1 {
  justify-content: flex-start;
}

/*solutions*/
.timeline .row-2 {
  justify-content: flex-end;
}

/*solutions*/
.timeline .row section {
  background: #fff;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}

/*solutions*/
.timeline .row section::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}

/*solutions*/
.row-1 section::before {
  right: -7px;
}

.row-2 section::before {
  left: -7px;
}

/*solutions*/
.row section .icon,
.center-line .scroll-icon {
  position: absolute;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ff7979;
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

/*solutions*/
.center-line .scroll-icon {
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}

/*solutions*/
.row-1 section .icon {
  top: 15px;
  right: -60px;
}

/*solutions*/
.row-2 section .icon {
  top: 15px;
  left: -60px;
}

/*solutions*/
.row section .details,
.row section .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*solutions*/
.row section .details .title {
  font-size: 22px;
  font-weight: 600;
}

/*solutions*/
.row section p {
  margin: 10px 0 17px 0;
}

/*solutions*/
.row section .bottom a {
  text-decoration: none;
  background: #ff7979;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}

/*solutions*/
.row section .bottom a:hover {
  transform: scale(0.97);
}

@media (max-width: 790px) {
  .timeline .center-line {
    left: 40px;
  }

  .timeline .row {
    margin: 30px 0 3px 60px;
  }

  .timeline .row section {
    width: 100%;
  }

  .row-1 section::before {
    left: -7px;
  }

  .row-1 section .icon {
    left: -60px;
  }
}
/*solutions*/
@media (max-width: 440px) {
  .timeline .center-line,
.row section::before,
.row section .icon {
    display: none;
  }

  .timeline .row {
    margin: 10px 0;
  }
}
.container-sale {
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-sale {
  height: 280px;
  max-width: 350px;
  margin: 0 20px;
  background: white;
  transition: 0.4s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.card-sale:hover {
  height: 470px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.card-sale .img-sale {
  height: 200px;
  width: 100%;
}

.card-sale .img-sale img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-sale .top-text {
  padding: 5px;
}

.card-sale .top-text .name {
  font-size: 25px;
  font-weight: 600;
  color: #202020;
}

.card-sale .top-text p {
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}

.card-sale .bottom-text {
  padding: 0 20px 10px 20px;
  margin-top: 5px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}

.card-sale:hover .bottom-text {
  opacity: 1;
  visibility: visible;
}

.card-sale .bottom-text .text {
  text-align: justify;
}

.card-sale .bottom-text .btn {
  margin: 10px 0;
  text-align: left;
}

.card-sale .bottom-text .btn a {
  text-decoration: none;
  background: #e74c3c;
  color: #f2f2f2;
  padding: 5px 8px;
  border-radius: 3px;
  display: inline-flex;
  transition: 0.2s;
}

.card-sale .bottom-text .btn a:hover {
  transform: scale(0.9);
}

@media screen and (max-width: 978px) {
  .container-sale {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .card-sale {
    max-width: 700px;
    margin: 20px 0;
  }
}
#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}

:root {
  --font: "Oxygen", sans-serif;
  --primary: #42E2B8;
  --black: black;
}

.container-contactus {
  font-family: var(--font);
  background: var(--gradient);
  margin: 0;
  background-color: grey;
}

.u-wrapper {
  max-inline-size: 1232px;
  margin: 0 auto;
  padding: 0 1em;
}

.h1 {
  font-size: 59px;
  line-height: 95px;
  font-weight: 700;
  margin: 1rem 0;
}

.h1 span {
  display: block;
}

.h3 {
  font-size: 48px;
  line-height: 77px;
}

.social-item {
  background: var(--primary);
  display: inline-block;
  inline-size: 44px;
  block-size: 44px;
  text-align: center;
  line-height: 44px;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  border: 2px solid var(--black);
}

.social-item + .social-item {
  margin-left: 1em;
}

.social-item img {
  vertical-align: middle;
}

.btn {
  /* font-family: var(--font); */
  border-radius: 90px;
  letter-spacing: 1.25px;
  background: initial;
  block-size: 50px;
  display: block;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  border: 2px solid var(--black);
  font-weight: bold;
  padding: 0 1.5em;
}

.btn.full {
  width: 100%;
}

.btn.primary {
  background: var(--primary);
}

.btn.secondary img {
  position: relative;
  bottom: 1px;
}

.btn i {
  display: inline-block;
}

.btn span {
  vertical-align: middle;
}

.btn i img {
  vertical-align: middle;
}

.hero {
  margin-block-end: 80px;
}

.hero-content img {
  display: block;
  margin: 0 auto;
  /* text-align: center; */
}

.header {
  padding: 1em 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pre-projects-content {
  text-align: center;
}

.pre-projects-content p {
  font-size: 1.5em;
  text-align: center;
  line-height: 38px;
  letter-spacing: 0.5%;
}

.pre-projects-content p + p {
  font-weight: bold;
}

.project {
  display: grid;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-areas: "image" "description";
}

.project-image {
  grid-area: image;
  text-align: center;
  margin-block-end: 1.5em;
}

.project-description {
  grid-area: description;
}

.project img {
  max-width: 100%;
}

.tag span {
  padding: 0.5em;
  background: var(--black);
  color: var(--primary);
  box-shadow: -4px 4px 0 white;
}

.project-copy {
  line-height: 25px;
  letter-spacing: 0.5%;
  margin-block-start: 2em;
}

.project-cta {
  margin-block-start: 1.5em;
}

.project-cta button + button {
  margin-block-start: 1em;
}

.testimony {
  padding: 1.5em;
  border-radius: 1.5em;
  backdrop-filter: blur(39.7657px);
  background: rgba(255, 255, 255, 0.2);
  border: 3.98px solid rgba(255, 255, 255, 0.4);
}

.testimony-image {
  text-align: center;
}

.testimony-copy {
  line-height: 26px;
  font-weight: bold;
}

.testimony-title {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  line-height: 20px;
}

.project,
.testimony {
  margin-block: 2.5em;
}

.form {
  max-inline-size: 550px;
  margin: auto;
}

.form label {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 0.5em;
  padding-inline-start: 0.5em;
}

.form label span {
  color: #DA1414;
}

.form input,
.form textarea {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  padding: 0.8em;
  border-radius: 0.5em;
  border: 1px solid #858C94;
}

.form textarea {
  margin-block-end: 2em;
  font-family: inherit;
}

input::-webkit-input-placeholder {
  color: #0F0A0A88;
}

.contact {
  margin-block-end: 5em;
  margin-top: 100px;
}

.footer {
  text-align: center;
}

#trucazo {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .hero-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "description image";
  }

  .hero-description {
    grid-area: description;
  }

  .hero-image {
    grid-area: image;
  }

  .hero-image img {
    inline-size: 500px;
    margin-top: -50px;
  }

  .pre-projects-content {
    max-inline-size: 900px;
    margin: auto;
  }

  .project {
    grid-template-areas: "description image";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3em;
  }

  .project-cta {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .project-cta button + button {
    margin: 0;
  }

  .testimony {
    margin: auto;
    padding: 5em;
    text-align: center;
  }

  .testimony-copy {
    font-size: 2.2em;
    line-height: 55px;
  }

  .testimony-title {
    font-size: 1.5em;
  }

  .project,
.testimony {
    margin-block: 5em;
  }

  .form .tag span {
    display: block;
    text-align: center;
  }
}
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: poppins;
  margin: 0;
  display: grid;
  font-size: 14px;
}

header p {
  padding: 50px;
  text-align: center;
  color: #bebebe;
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 700;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: #000;
}

.footer > * {
  flex: 1 100%;
}

.l-footer {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

h2 {
  font-weight: 400;
  font-size: 15px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.r-footer {
  display: flex;
  flex-flow: row wrap;
}

.r-footer > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.box a {
  color: #999;
}

.h-box {
  column-count: 2;
  column-gap: 1.25em;
}

.b-footer {
  text-align: center;
  color: #999;
  padding-top: 50px;
}

.l-footer p {
  padding-right: 20%;
  color: #999;
}

@media screen and (min-width: 600px) {
  .r-footer > * {
    flex: 1;
  }

  .features {
    flex-grow: 2;
  }

  .l-footer {
    flex: 1 0px;
  }

  .r-footer {
    flex: 2 0px;
  }
}
* {
  box-sizing: border-box;
}

.body-company {
  background-color: #4361ee;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  display: flex;
}

.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
}

@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
  }
}
.blog-slider__item {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
  }
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  transition-delay: 0.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  transition-delay: 0.4s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  transition-delay: 0.5s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  transition-delay: 0.7s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  transition-delay: 0.8s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  transition-delay: 0.9s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  transition-delay: 1s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  transition-delay: 1.1s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  transition-delay: 1.2s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  transition-delay: 1.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  transition-delay: 1.4s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  transition-delay: 1.5s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  transition-delay: 1.6s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  transition-delay: 1.7s;
}

.blog-slider__img {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}

.blog-slider__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0.8;
}

.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(-50%);
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
  }
}
.blog-slider__content {
  padding-right: 25px;
}

@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }
}
.blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}

.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}

.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}

.blog-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}

.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}

@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
  }
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.blog-slider .swiper-pagination-custom,
.blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}
.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  transition: all 0.3s;
}

.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #fd3838;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
