/* start navbar */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}



.color-nav {
    color: #ede0d4;
}

.titulo-nav {
    text-decoration: none;
    padding: 25px;
    color: #b5179e;
    border-bottom: 2px solid #fff;
    font-size: 20px;
}

/* finish navbar */

